<div th:fragment="simple-header">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
            <div class="d-flex align-items-center">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <span class="fs-4">DocCraft</span>
                </a>
            </div>
            <div class="nav col-md-auto justify-content-end">
                <a href="/" class="btn btn-outline-secondary">
                    <i class="bi bi-house-door"></i> На главную
                </a>
            </div>
        </header>
    </div>
</div>