<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>DocCraft</title>
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="DocCraft" />
    <link rel="manifest" href="/images/site.webmanifest" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
          integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <h1>Описание сайта</h1>
    <p>Этот сайт представляет собой программный комплекс, разработанный на языке Java,
        который обеспечивает возможность подготовки документов по шаблону в форматах .doc и .docx.
        Для достижения этой цели используется библиотека Apache POI.</p>
    <p>Основные возможности:
    <ul>
        <li>Загрузка шаблонов документов в формате .doc и .docx</li>
        <li>Автоматическое заполнение шаблонов данными</li>
        <li>Поддержка сложных документов с таблицами, изображениями и другими элементами</li>
        <li>Экспорт готовых документов в формате .doc и .docx</li>
    </ul>
    </p>
    <p>Основные технологии:
    <ul>
        <li><strong>Java:</strong> Основной язык программирования, используемый для разработки серверной части
            приложения
        </li>
        <li><strong>Spring Boot:</strong> Фреймворк для создания микросервисов и веб-приложений на языке Java</li>
        <li><strong>Thymeleaf:</strong> Шаблонизатор для динамической генерации HTML-страниц на стороне сервера</li>
        <li><strong>Bootstrap:</strong> CSS-фреймворк для создания адаптивного дизайна</li>
        <li><strong>Apache POI:</strong> Библиотека для работы с документами в формате Microsoft Office</li>
    </ul>
    </p>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>