<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Генерация файлов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
          integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<header th:insert="~{fragments/header :: header}"></header>
<div class="container mt-5">
    <h1 class="mb-4">Загрузка шаблона документа</h1>
    <div class="file-input-row">
        <!-- Колонка с формой загрузки -->
        <div class="file-input-col">
            <form method="post" enctype="multipart/form-data" action="/upload">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="mb-3 file-input-custom">
                    <label for="file" class="form-label">Выберите файл шаблона (только .docx):</label>
                    <input type="file" class="form-control" id="file" name="file" accept=".docx" multiple
                           onchange="updateFileList(this.files)">
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
        </div>

        <!-- Колонка со списком выбранных файлов (скрыта по умолчанию) -->
        <div class="file-list-col" id="fileListContainer" style="display: none;">
            <h3 class="selected-files-header">Выбранные файлы</h3>
            <div class="file-display-container">
                <ul id="fileList"></ul>
            </div>
        </div>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <!-- Форма ввода значений тегов -->
    <div th:if="${fileUploaded}" class="mt-4">
        <h2 class="mb-3">Значения тегов</h2>
        <form method="post" action="/generate">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="mb-3">
                <label for="authorCount" class="form-label">Количество авторов:</label>
                <select class="form-select" id="authorCount" name="authorCount">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
            <div th:each="tag : ${tags}">
                <div class="mb-3">
                    <label th:text="${tag}" class="form-label"></label>
                    <input type="text"
                           th:name="${tag}"
                           th:value="${tagMap.get(tag)}"
                           class="form-control"
                           placeholder="Введите значение"/>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Сгенерировать</button>
        </form>
    </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script th:src="@{/js/custom.js}"></script>
</body>
</html>